body {
    background-color: #252525;
}

#description-container{

    text-align: center;
}
.slider {
    margin-left: auto;
    margin-right: auto;
    width:900px;
    display:flex;
    flex-direction:column;
    }

.slider-counter {
    display:flex;
    width:80px;
    align-items:center;
    color: rgb(180, 180, 180);
    font-family: Tahoma;
    font-size: 18px;}

.slider-wrapper {
    width:100%;

    }

.slider-prev {
    position: absolute;
    color: #7a7a7a;
    margin-top: 40%;
    margin-left: -10%;
    cursor:pointer}

.slider-next {
    position: absolute;
    color: #7a7a7a;
    margin-top: 40%;
    margin-left: 110%;
    cursor:pointer}

.slider #current {
    color: rgb(180, 180, 180);
    font-family: Tahoma;
    font-size:40px;
    font-weight:300;}

.slide {
    width:100%;
    height: 600px}

.slide img {
    width:100%;
    height:100%;
    object-fit:contain}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 30px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
